.alert-flash__wrapper {
	position: absolute;
	top: 60px;
	background-color: rgba(218, 218, 218, 0.185);
	border-radius: 10px;
	border: 2px solid rgba(255, 255, 255, 0.327);
	@include corners;
	transform: scale(0);
	opacity: 0%;
	transition: all 0.5s;
}

.alert-flash__wrapper.active {
	transform: scale(1.3);
	opacity: 100%;
}

.alert-flash__text {
	color: white;
	padding: 20px;
	font-size: 1.5em;
}
