@import "./sass/variables", "./sass/mixins", "./components/Form.scss", "./components/Input.scss",
	"./components/Registration.scss", "./components/Login.scss";

html {
	font-size: 16px;
	@include font;
	background: linear-gradient(34deg, rgba(34, 143, 195, 1) 0%, rgba(153, 45, 253, 1) 100%);
}

.wrap {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
